@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Public+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 2.2rem;
    font-weight: 400;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

h4 {
    font-size: 1.1rem;
    font-weight: 400;
}

h5 {
    font-size: 0.8rem;
    font-weight: 400;
}

/*  Header css */
header {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
    position: absolute;
    min-height: 10vh;
    z-index: 50;
    background-color: #fff;
    flex-wrap: wrap;
}

.logo {
    width: 30vw;
    text-align: center;
}

#hamburger {
    display: none;
}

.invite_parent {
    width: 30vw;
    display: flex;
    justify-content: center;
}

.invite_button {
    padding: 0.6rem 1rem;
    color: #fff;
    border: none;
    border-radius: 1.2rem;
    background-image: linear-gradient(
        to right,
        hsl(136, 65%, 51%),
        hsl(192, 70%, 51%)
    );
    font-weight: 400;
}

.navbar {
    width: 40vw;
    display: flex;
    justify-content: space-around;
}

.mobile_nav {
    width: 94vw;
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem 0;
    position: absolute;
    display: none;
    left: 3vw;
    top: 11vh;
    z-index: 25;
}

.mobile_nav ul li {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.mobile_nav a {
    font-size: 1rem;
    color: #4c4b4b;
}

/*  navbar css */
ul > li {
    list-style: none;
    font-weight: 400;
}

ul li > a {
    text-decoration: none;
    color: hsl(0, 2%, 84%);
    font-size: 0.75rem;
}

ul li > a:hover {
    color: hsl(136, 65%, 51%);
    transition: 2s ease-out;
    cursor: pointer;
}

/* Hero CSS */

.hero {
    display: flex;
    flex-basis: 100vw;
    height: 80vh;
    background-color: hsl(0, 0%, 98%);
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
}

.hero_content {
    display: flex;
    flex-basis: 45vw;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
}

#h1 {
    color: #4c4b4b;
}
#invite_button {
    width: 50%;
    margin: 1rem 0;
}
.para {
    color: #707d82;
    text-align: left;
    padding: 1rem 0;
    position: relative;
    z-index: 25;
    font-size: 0.8rem;
    white-space: wrap;
}
.images {
    width: 60vw;
    position: relative;
    overflow: hidden;
}

.background1 {
    width: 50vw;
    height: 100%;
    background-image: url("../images/bg-intro-desktop.svg");
    background-position: right;
    background-size: 100% 100%;
    position: absolute;
    right: -10vw;
}

.background2 {
    width: 50vw;
    height: 100vh;
    position: absolute;
    background-image: url("../images/image-mockups.png");
    background-size: 50vw 100vh;
    background-position: right;
    right: -5vw;
    top: -5vh;
    z-index: 0;
}

/* why choose us */

.container1 {
    display: flex;
    flex-basis: 100vw;
    min-height: 40vh;
    background-color: #eeeeee;
    flex-direction: column;
    /* align-items: center; */
    padding: 3rem 5rem;
}

#container1_h2 {
    text-align: left;
    font-weight: 300;
    font-size: 1.45rem;
    color: #4c4b4b;
}

.services_container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.services_container > div {
    width: 20vw;
}

#para {
    width: 80%;
    color: #707d82;
    text-align: left;
    padding: 1rem 0;
    position: relative;
    z-index: 25;
    font-size: 0.8rem;
}

#h4 {
    color: #4c4b4b;
    padding: 1rem 0;
}

/* Latest articles */

.container2 {
    background-color: #f2f1ef;
}

.articles {
    width: 90vw;
    min-height: 60vh;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.card {
    width: 20vw;
    background-color: #fff;
    border-radius: 5px;
}

.card_body {
    padding: 1rem;
}

.card_image {
    height: 198px;
    overflow: hidden;
}
.card_image img {
    width: 100%;
}

#container2_h2 {
    padding: 3rem 5rem;
    color: #4c4b4b;
    font-weight: 400;
}

.author {
    color: #707d82;
    font-size: 0.8rem;
}

.card_body p {
    font-size: 0.8rem;
    color: #4c4b4b;
}

/*  */

footer {
    width: 100vw;
    background-color: hsl(233, 26%, 24%);
}

.footer_container {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer_social {
    width: 25%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}
.footer_social img {
    width: 150px;
}

.social_icons svg {
    width: 20px;
    margin: 0 5px;
}

.social_icons svg path:hover {
    cursor: pointer;
    fill: hsl(136, 65%, 51%);
}
.div1,
.div2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pages {
    width: 100%;
    height: 30vh;
    flex-direction: column;
    justify-content: center;
}

#pages a {
    font-size: 0.9rem;
}

#pages li {
    padding: 1rem 0;
}

.copyright {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.copyright .invite_button {
    width: 80%;
    height: 40px;
    margin-bottom: 0.5rem;
}

.copy {
    color: #707d82;
}

.active {
    display: block ;
}

/* Media query */

@media only screen and (max-width: 480px) {
    nav {
        order: 3;
    }

    header {
        row-gap: 1vh;
    }
    .navbar {
        display: none;
    }

    .navbar li {
        text-align: center;
    }

    .logo {
        width: 70vw;
        text-align: left;
        padding: 0 1rem;
    }

    .invite_parent {
        display: none;
    }

    #hamburger {
        width: 7vw;
        height: 2vh;
        background-image: url("../images/icon-hamburger.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
    }

    /* hero */
    .hero {
        width: 100vw;
        height: 110vh;
        position: static;
    }
    .hero_content {
        flex-basis: 100vw;
        height: 90vh;
        justify-content: flex-end;
        text-align: center;
        padding: 0;
        align-items: center;
        position: static;
    }

    .hero_content p {
        width: 90%;
        text-align: center;
    }

    .hero_content h1 {
        font-size: 1.5rem;
    }

    .background1 {
        width: 100vh;
        height: 100vw;
        background-image: url("../images/bg-intro-mobile.svg");
        background-size: 100% 100%;
        background-position: right;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 0;
    }

    .background2 {
        width: 100vw;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        right: 0;
        top: -20vh;
        margin: auto;
    }

    /* Services */

    .container1 {
        padding: 2rem;
    }

    #container1_h2 {
        width: 100%;
        text-align: center;
    }

    .para,
    #para {
        width: 100%;
        text-align: center;
    }

    .service {
        margin: 1rem 0;
    }
    .services_container > div {
        width: 100vw;
        text-align: center;
    }
    .services_container p {
        text-align: center;
        margin: auto;
    }

    /* articles section */

    #container2_h2 {
        text-align: center;
    }
    .articles {
        flex-wrap: wrap;
    }

    .articles .card {
        width: 100vw;
        margin: 1.5rem 0;
    }

    .card_body h4 {
        font-size: 1.1rem;
    }

    .card_body p {
        width: 90%;
    }

    /* Footer */
    .footer_container {
        justify-content: center;
    }
    .footer_social,
    .div1,
    .div2,
    .copyright {
        width: 100vw;
    }

    .footer_social img {
        display: block;
        margin: auto;
    }

    .social_icons {
        margin: auto;
    }

    .social_icons svg {
        width: 25px;
        margin: 0 5px;
    }

    #pages {
        height: auto;
    }
    #pages li {
        text-align: center;
        font-size: 1rem;
    }
    #pages li a {
        font-size: 1rem;
    }

    .copyright {
        width: 100%;
        align-items: center;
        margin-top: 1rem;
    }

    .copy {
        padding: 0.5rem 0;
    }
}
